In [3]:
import PySimpleGUI as sg  #importing pysimple gui with its object
#importing mysql connector
import mysql.connector
a=mysql.connector.connect(host="localhost", user="root",password="a1234")
b=a.cursor()
b.execute("use practicle")
#set theme for window
#sg.theme("lightBlue5")
#describe the strucure of window help of layout
layout=[
    [sg.Text("Do you want to login this page?")],
    [sg.Button("Yes"),sg.Button("No")]
]
#giving window1 a title and layout into one variable
window1=sg.Window("user",layout)
while True:
    event,values=window1.read()
    if(event=="Yes"):
        #for showing loading bar
        from tqdm.auto import tqdm 
        for i in tqdm(range(10000)):
                print(" ",end='\r')
        #layout for another window
        layout=[
        [sg.Text("First Name"),sg.Input(key="-first-")],
        [sg.Text("last Name"),sg.Input(key="-last-")],
        [sg.Text("Email"),sg.Input(key="-email-")],
        [sg.Text("DOB"),sg.Input(key="-dob-")],
        [sg.Text("Address"),sg.Input(key="-add-")],
        [sg.Text("mobile No."),sg.Input(key="-no-")],
        [sg.Text("Gender")],
        [sg.Radio('male', "RADIO1", default=False, key="-gender-")],
        [sg.Radio('female', "RADIO1", default=True)],
        [sg.Text("State")],
        k=[sg.Listbox(values=('Andhra Pradesh','Arunachal Pradesh','Assam','Bihar','Chhattisgarh','Goa''Gujarat','Haryana',
                            'Himachal Pradesh','Jharkhand','Karnataka','Kerala','Madhya Pradesh','Maharashtra' ,'Manipur' ,
                            'Meghalaya',
                            'Mizoram' ,'Nagaland','Odisha' ,'Punjab','Rajasthan','Sikkim','Tamil Nadu','Telangana',
                            'Tripura','Uttar Pradesh','Uttarakhand','West Bengal'),size=(30,6),key="-state-")],
        
        [sg.Button("summit"),sg.Button("exit")]
        ]
        #descibing its title and other feature
        window=sg.Window("user",layout)
        while True:
                #without read() we dont get any output which we want , if we dont use read() it will give address aur error
                    event,values=window.read()
                    #saviny value on another variable
                    first = values['-first-']
                    last = values['-last-']
                    email=values['-email-']
                    dob = values['-dob-']
                    add = values['-add-'] 
                    num = values['-no-'] 
                    gender=values['-gender-']
                    state=values[tuple('-state-']
                    #in which we have store the value now using database we save it
                    print(gender)
                    print(state)
                    ab=("insert into gui(first , last, address,dob,number,email,gender,state) values(%s,%s,%s,%s,%s,%s,%s,%s)")
                    ba=(first,last,add,dob,num,email,gender,state)
                    b.execute(ab,ba)
                    a.commit()
                    if(event=="summit"):
                        sg.Text("summited")
                        break
                    else:
                        break
        window.close()
    else:
        break
window1.close()#window close is most important otherwise window will not close

HBox(children=(FloatProgress(value=0.0, max=10000.0), HTML(value='')))

False
['Uttarakhand']

ProgrammingError: Failed processing format-parameters; Python 'list' cannot be converted to a MySQL type

In [5]:
import mysql.connector
a=mysql.connector.connect(host="localhost", user="root",password="a1234")
b=a.cursor()
b.execute("use practicle")
b.execute("create table gui(first char(20),last char(20),email char(20),dob char(20),address char(20),mobile_number int(20),gender char(20),state char(20)")
b.execute("insert into gui(first ,last,email,dob,address,mobile_number,gender,state) values(%s,%s,%s,%s,%s,%s,%s)")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [ ]:
""